{{> head}}
{{> navBar}}
<div class="row">
    <div class="col-8">
        <h1>Hello from About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A amet commodi quos vitae? Incidunt, aut recusandae
            nesciunt nostrum saepe vel reprehenderit quaerat minus necessitatibus assumenda quasi. Magnam optio soluta
            accusantium!</p>
    </div>
    <div class="col-4"><img src="public/assets//images/node.png" class="img-thumbnail" alt=""></div>
</div>
{{> footer}}