{{> head}}
{{> navBar}}
<div class="row">
    <div class="col-8">
        <h1>Te Amo Mucho!</h1>
        <p>Eres el amor de mi vida.</p>
    </div>
    <div class="col-4"><img src="public/assets//images/node.png" class="img-thumbnail" alt=""></div>
</div>
{{> footer}}