{{> head}}
    {{> navBar}}
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{capitalize name}}!</h1>
        <p class="lead">Eres la mas hermosa del mundo!!</p>
        <hr class="my-4">
        <p>Tu amorcito te ama!.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Besitos</a>
    </div>
    {{> footer}}